<% add_stylesheet 'sitemap' %>

<h1>A view from above</h1>

<% Route.sitemap.each do |route| %>
  <% div_for route do %>
    <%= route.display_permalink %> <span>&rarr; <%= link_to route.associated.name, route.associated %></span>
  <% end %>
<% end %>  

<div class="spacer"></div>

<h1>Redirects</h1>

<% Route.redirects.each do |route| %>
  <% div_for route do %>
    <%= route.display_permalink %> <span>connects to</span> <%= route.redirect_to %>
  <% end %>
<% end %>  