h2 span a {
	color: #aaa;
	font-weight: normal;
	padding-left: 5px;
	text-decoration: none;
}

h2 span a:hover {
	color: #f00;
}

.article {
	padding-bottom: 15px;
	border-bottom: 1px solid #f4f4f4;
	margin-bottom: 5px;
}

.article h3 {
	font-size: 17px;
	margin-bottom: 6px;
}

.article h3 span {
	color: #777;
	font-weight: normal;
	padding-left: 3px;
}

.article span.unpublished {
	background: #000;
	color: #fff;
	padding: 2px 5px;
}

.article .meta {
	font-size: 12px;
}

.section_offset { margin-left: 7px; margin-bottom: 20px; }