* {
	margin: 0;
	padding: 0;
}

body {
	font-family: HelveticaNeue, "Helvetica Neue", helvetica, arial;
}

.clearfix { clear: both; }

h1 {
	padding: 3px 7px;
	background: #f2f9fd;
	font-size: 22px;
	color: #252525;
	border-bottom: 1px solid #deebf3;
	margin-bottom: 7px;
}

h2 {
	font-size: 20px;
	color: #252525;
	margin-bottom: 7px;
}

div.spacer {
	height: 40px;
}

#wrapper {
	margin: 15px auto;
	width: 850px;
}

div#bar {
	background: #1e1400;
	color: #fff;
	font-size: 12px;
}

div#bar .inset {
	margin: 0 auto;
	width: 850px;
	padding: 4px 10px;
	text-align: right;
}

div#mast {
	padding-bottom: 10px;
	border-bottom: 1px solid #999;
	margin-bottom: 20px;
}

div#mast p a {
	float: left;
	font-weight: bold;
	font-size: 26px;
	color: #f4a600;
	text-decoration: none;
}

div#mast p a:hover { text-decoration: underline; }

div#mast ul {
	float: right;
	list-style: none;
}

div#mast ul li { 
	display: block;
	height: 29px;
	width: 100px;
	float: left;
	line-height: 29px;
	font-size: 12px;
	text-transform: uppercase;
	text-indent: 10px;
}

div#mast ul li a {
	display: block;
	border-left: 1px solid #999;
	color: #000;
	text-decoration: none;
}

div#mast ul li a:hover {
	background: #fffcf2;
}