.sitemap, .redirects {
	font-size: 12px;
}

.route {
	padding: 5px 0;
	border-bottom: 1px solid #ccc;
}

.sitemap .route span {
	float: right;
	padding-left: 18px;
	color: #ddd;
}

.sitemap .route span a {
	padding-left: 5px;
	color: #000;
}

.redirects .route span {
	color: #999;
	padding: 0 6px;
	font-style: italic;
}