<div class="exception">
  <h1>You've stopped watching <%= @article.name %></h1>
  <p>This will be the last e-mail notification you'll get about comments posted for this article. To renable, add a new comment and tick the box.</p>
</div>