<div class="exception">
  <h1>You have no sections defined. <%= link_to 'Create section', new_section_path %></h1>
  <p>In order to create some content (such as articles), a section is required to file content into.</p>
  <p class="back">
    <%= link_to 'Go back', :back %>
  </p>  
</div>