<div class="exception">
  <h1>You have no themes. <%= link_to 'Create / import theme', themes_path %></h1>
  <p>Themes are necessary to displaying any content.</p>
  <p class="back">
    <%= link_to 'Go back', :back %>
  </p>  
</div>